on:
  push:
    branches:
      - master



jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: actions/checkout@v3
        

      - name: "Login to docker hub"
        run: docker login --username OS2021 --password dckr_pat_76iqvx56x0OomOf0-b0pfNUNYfA
      
            




